<nav>
    <div class="nav-wrapper">
      <img src="assets/Images/EatSmart-logo1.jpg" alt="logo" class="brand-logo" height="56">
      <!-- <a href="#!" class="brand-logo">EatSmart</a> -->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="howitworks.html">How it works</a>
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">Favourites
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li class="register">
          <a href="registerindex.html">Register</a>
        </li>
        <li class="sign-in-email">
          <a href="signin.html">Log In</a>
        </li>
        <li class="hidden profile-page">
          <a href="profile.html">Profile</a>
        </li>
        <li class="hidden log-out">
          <a href="index.html">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Dropdown Structure for favourites for navbar -->
  <ul id="dropdown1" class="dropdown-content">
  </ul>

  <!-- side bar when navbar collapses -->
  <ul class="sidenav" id="mobile-demo">
    <li>
      <a href="howitworks.html">How it works</a>
    </li>
    <li>
      <a class="dropdown-trigger" href="#!" data-target="dropdown2">Favourites
        <i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li class="register">
      <a href="registerindex.html">Register</a>
    </li>
    <li class="sign-in-email">
      <a href="signin.html">Log In</a>
    </li>
    <li class="hidden profile-page">
      <a href="profile.html">Profile</a>
    </li>
    <li class="hidden log-out">
      <a href="index.html">Log Out</a>
    </li>
  </ul>

  <!-- Dropdown Structure for favourites for sidebar -->
  <ul id="dropdown2" class="dropdown-content">
  </ul>

  <!-- body -->
  <div class="container">
    <div class="row">
      <div class="col s3">

        <div id="recipeList" style="padding-top: 1rem; overflow: auto;max-height: 120vh;"></div>



<div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="Awesome-Pepperoni-Pizza-1873784" src="https://lh3.googleusercontent.com/UfzLfk9ugfdHhepQcvY30yBVA-070xMFYM-e72JZXdN2e2bP827PHte_9FatjPYqQl8-GO2wSFu0GkFtchoqocM=s90">
            <br>
            <a id="Awesome-Pepperoni-Pizza-1873784" class="recipe">Awesome Pepperoni Pizza</a>
        </div>
      </div></div><div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="English-Muffin-Pizza-1689744" src="https://lh3.googleusercontent.com/Lw_cTLvUHjjTT6wbQ0Rz6EIRBPf-N6oq92NwSNbfikqxo_uqSnc4xHhpBSY4wrANWAgiaKIzaSkLWrN9kLaQ=s90">
            <br>
            <a id="English-Muffin-Pizza-1689744" class="recipe">English Muffin Pizza</a>
        </div>
      </div></div><div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="Breakfast-Pizza-2213050" src="https://lh3.googleusercontent.com/UaCAo4pUqP-PnXbstVFF3rdYFoFIM8rH41BZYFVRialL52j0QCJQkq-aGXS7BOdy7LNFOpRRNiEZecViUxHurQ=s90">
            <br>
            <a id="Breakfast-Pizza-2213050" class="recipe">Breakfast Pizza</a>
        </div>
      </div></div><div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="Bubble-Pizza-2082798" src="https://lh3.googleusercontent.com/ntVoOUdGG4E6EO-DfchGf57Ke4ZM0MAd-2stvNBHQLwoEky6fyl485ZQFn1EcWcNpluXabNyFPpdbdmUcD2-3Us=s90">
            <br>
            <a id="Bubble-Pizza-2082798" class="recipe">Bubble Pizza</a>
        </div>
      </div></div><div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="Naan-Pizza-1601315" src="https://lh3.googleusercontent.com/Cf438g4Mrkk-qWNWbM93uJOdVS4UzX5pJD0f18-kibbJlUwKlXJtO9MwDP6LRWpxxQfUBkqQmPEnm92ESpdglU4=s90">
            <br>
            <a id="Naan-Pizza-1601315" class="recipe">Naan Pizza</a>
        </div>
      </div></div><div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="BLT-Pizza-1088818" src="http://lh3.googleusercontent.com/AO_pS6eDFQ4QSpu3zgJVpr-y7vFGIua6l87i545Z2JL2nm3RnUY-iqSlQEx81KBNIoeQd-jeSmvWxcPBPnvG2w=s90">
            <br>
            <a id="BLT-Pizza-1088818" class="recipe">BLT Pizza</a>
        </div>
      </div></div><div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="Hawaiian-Pizza-1303827" src="http://lh3.googleusercontent.com/tSq_16RAOBDZ5yuqxbelM1PEnAYtJAPAoiR8Z61gxPdgTuOwCUUH1_rY5RdRgXtw08ku_65KnN9dASz5kRypnA=s90">
            <br>
            <a id="Hawaiian-Pizza-1303827" class="recipe">Hawaiian Pizza</a>
        </div>
      </div></div><div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="Antipasto-Pizza-2513010" src="https://lh3.googleusercontent.com/XXxhQEnKqw2cQbwKfNoU0kj9PtE3JCb8QNmMJRi806WAZY9PIWXhnVet-xWgDmUIdKt_pxFAMgpDjBxkjv4dww=s90">
            <br>
            <a id="Antipasto-Pizza-2513010" class="recipe">Antipasto Pizza</a>
        </div>
      </div></div><div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <img id="Pepperoni-Pizza-2503513" src="https://lh3.googleusercontent.com/m_GUJL96fAPITVLoVYcDdIUadcUBjkB90Op5-3elg9ayrQP5R0aqgtaqZ5oDOF1rJ89IvkupbGBr6eTntY_XSQ=s90">
            <br>
            <a id="Pepperoni-Pizza-2503513" class="recipe">Pepperoni Pizza</a>
        </div>
      </div></div>

      </div>

      <div class="col s6">
        <!-- enter dish -->
        <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="meal" class="materialize-textarea"></textarea>
          <label for="meal">Enter dish: </label>
        </div>

        <!-- select allergies -->
        <div class="input-field">
          <select multiple id="allergy">
            <option value="" disabled selected>Choose your allergy</option>
            <option value="393^Gluten-Free">Gluten Free</option>
            <option value="394^Peanut-Free">Peanut Free</option>
            <option value="398^Seafood-Free">Seafood Free</option>
            <option value="399^Sesame-Free">Sesame Free</option>
            <option value="400^Soy-Free">Soy Free</option>
            <option value="396^Dairy-Free">Dairy Free</option>
            <option value="397^Egg-Free">Egg Free</option>
            <option value="401^Sulfite-Free">Sulfite Free</option>
            <option value="395^Tree Nut-Free">Tree Nut-Free</option>
            <option value="392^Wheat-Free">Wheat-Free</option>
          </select>
          <label>Allergies?</label>
        </div>

        <!-- Search recipe -->
        <button class="btn waves-effect waves-light" type="submit" name="action" id="submit">Search
          <i class="material-icons right">send</i>
        </button> 

        
<div class="row">
<h4 id="recipeName" style="text-align:center;"> Breakfast Pizza </h4>
<div class="col s9">
    <div id = "selectRecipe">
    
    <div class="row">
 
          <div id="Breakfast-Pizza-2213050" class="col s6">
          <img "materialboxed"="" src="https://lh3.googleusercontent.com/UaCAo4pUqP-PnXbstVFF3rdYFoFIM8rH41BZYFVRialL52j0QCJQkq-aGXS7BOdy7LNFOpRRNiEZecViUxHurQ=s180">
          </div>
          <div class="col s6">
          <div class="row">
<div id="recipeTime" class="col s12">Time: 1 hr 20 min</div>
<div id="recipeFeeds" class="col s12">Feeds: 32</div>
<div id="recipeIngredients" class="col s12">Ingredients: 6</div>
<div id="recipeServes" class="col s12">Calories: 32</div>
          </div>
          </div>
        </div>

    </div>
</div>
<div class="col s3">
<hr>
<a class="waves-effect waves-light btn"><i class="material-icons right">thumb_up</i></a>
<hr>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud_download</i></a>
<hr>
  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown5'>Add</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown5' class='dropdown-content'>
    <li><a id="breakfast" href="#!">Breakfast</a></li>
    <li><a id="lunch" href="#!">Lunch</a></li>
    <li><a id="dinner" href="#!">Dinner</a></li>
    <li><a id="snacks" href="#!">Snacks</a></li>
  </ul>
</div>
 </div>

<ul id="tabs-swipe-demo" class="tabs text-center">
    <li class="tab col s1"><a class="active" href="#sun">S</a></li>
    <li class="tab col s1"><a href="#mon">M</a></li>
    <li class="tab col s1"><a href="#tues">T</a></li>
    <li class="tab col s1"><a href="#wednes">W</a></li>
    <li class="tab col s1"><a href="#thurs">T</a></li>
    <li class="tab col s1"><a href="#fri">F</a></li>
    <li class="tab col s1"><a href="#satur">S</a></li>
  </ul>
  <div id="sun" class="col s12">
    <!-- Default with no input (automatically generated)  -->
  <div id="sun-breakfast" class="chips chips-placeholder"></div>
  <div id="sun-lunch" class="chips chips-placeholder"></div>
  <div id="sun-dinner" class="chips chips-placeholder"></div>
  </div>
  <div id="mon" class="col s12">
    <div id="mon-breakfast" class="chips chips-placeholder"></div>
  <div id="mon-lunch" class="chips chips-placeholder"></div>
  <div id="mon-dinner" class="chips chips-placeholder"></div>
  </div>
  <div id="tues" class="col s12">
    <div id="tues-breakfast" class="chips chips-placeholder"></div>
  <div id="tues-lunch" class="chips chips-placeholder"></div>
  <div id="tues-dinner" class="chips chips-placeholder"></div>
  </div>
  <div id="wednes" class="col s12">
    <div id="wednes-breakfast" class="chips chips-placeholder"></div>
  <div id="wednes-lunch" class="chips chips-placeholder"></div>
  <div id="wednes-dinner" class="chips chips-placeholder"></div>
  </div>
  <div id="thurs" class="col s12">
    <div id="thurs-breakfast" class="chips chips-placeholder"></div>
  <div id="thurs-lunch" class="chips chips-placeholder"></div>
  <div id="thurs-dinner" class="chips chips-placeholder"></div>
  </div>
  <div id="fri" class="col s12">
    <div id="fri-breakfast" class="chips chips-placeholder"></div>
  <div id="fri-lunch" class="chips chips-placeholder"></div>
  <div id="fri-dinner" class="chips chips-placeholder"></div>
  </div>
  <div id="satur" class="col s12">
    <div id="sat-breakfast" class="chips chips-placeholder"></div>
  <div id="sat-lunch" class="chips chips-placeholder"></div>
  <div id="sat-dinner" class="chips chips-placeholder"></div>
  </div>
       </div>
      
      <div class="col s3">
<div class="piechart"> add pie chart </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="/js/index.js"></script>

