{{!-- <nav>
    <div class="nav-wrapper">
      <img src="assets/Images/EatSmart-logo1.jpg" alt="logo" class="brand-logo" height="56">
      <!-- <a href="#!" class="brand-logo">EatSmart</a> -->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="howitworks.html">How it works</a>
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">Favourites
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li class="register">
          <a href="registerindex.html">Register</a>
        </li>
        <li class="sign-in-email">
          <a href="signin.html">Log In</a>
        </li>
        <li class="hidden profile-page">
          <a href="profile.html">Profile</a>
        </li>
        <li class="hidden log-out">
          <a href="index.html">Log Out</a>
        </li>
      </ul>
    </div>
  </nav> --}}

  {{!-- <!-- Dropdown Structure for favourites for navbar -->
  <ul id="dropdown1" class="dropdown-content">
  </ul>

  <!-- side bar when navbar collapses -->
  <ul class="sidenav" id="mobile-demo">
    <li>
      <a href="howitworks.html">How it works</a>
    </li>
    <li>
      <a class="dropdown-trigger" href="#!" data-target="dropdown2">Favourites
        <i class="material-icons right">arrow_drop_down</i>
      </a>
    </li>
    <li class="register">
      <a href="registerindex.html">Register</a>
    </li>
    <li class="sign-in-email">
      <a href="signin.html">Log In</a>
    </li>
    <li class="hidden profile-page">
      <a href="profile.html">Profile</a>
    </li>
    <li class="hidden log-out">
      <a href="index.html">Log Out</a>
    </li>
  </ul>

  <!-- Dropdown Structure for favourites for sidebar -->
  <ul id="dropdown2" class="dropdown-content">
  </ul> --}}

  <!-- body -->

<h1> Ruby's UI <h1>
<p> Unauthenticated user: user can search for recipes and make a meal plan <p>
<p> Authenticated user: user can save recipe to database and visualize the nutritional content to customize mealplan <p>

<button><a href="/signin">Sign in</a></button>
<button><a href="/signup">Sign up</a></button>